@model IEnumerable<LMS_Web.Models.LeaveApplication>

@{
    int fileNumber = 1;
}
<div class="table-responsive mt-5">
    <table id="leaveTable" class="table table-striped table-borderless custrom-table mb-2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicantId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToDate)
                </th>
                <th>
                    মোট দিন
                </th>
                <th>
                    অবস্থা/পরবর্তী অনুমোদনদাতা
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OtherReason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>ডকুমেন্ট</th>
                <th>অবস্থা</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
              
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Applicant.FullName)
                </td>
                @if (item.EarnLeaveType == 0)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType.Name)
                    </td>
                }
                else if (item.EarnLeaveType == 1)
                {
                    <td>
                        অর্জিত (গড়)
                    </td>
                }
                else if (item.EarnLeaveType == 2)
                {
                    <td>
                        অর্জিত (অর্ধ গড়)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalDays)
                </td>

                @if (item.IsApproved)
                {

                    <td>

                        <a class="bg-success border rounded text-white text-center ph-atag2">অনুমোদিত</a>
                    </td>

                }


                @if (item.IsRejected)
                {

                    <td>

                        <a class="bg-success border rounded text-white text-center">বাতিল</a>
                    </td>

                }


                @if (!item.IsRejected && !item.IsApproved)
                {

                    <td>
                        <span class="badge badge-danger p-1">@item.NextApprovedPerson.FullName</span>
                    </td>

                }
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherReason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>

                @if (item.AttachedFiles.Any())
                {
                    <td>
                        @foreach (var file in item.AttachedFiles)
                        {
                            @*<a href="@documentPath" download="">Download</a> |*@
                            <a target="_blank" href="/file/@file.DocumentPath">File  @(fileNumber++)</a>
                        }
                    </td>
                }
                else
                {
                    <td>
                        No File
                    </td>
                }


                @if (item.IsRead)
                {
                    <td>
                প্রিন্টেড
                    </td>

                }
                else
                {
                    <td>
                        প্রিন্ট হয়নি
                    </td>
                }
                    <td>
                        @*<a class="badge badge-info p-1" asp-action="PrintApplication" asp-controller="Home" asp-route-id="@item.Id" target="_blank">প্রিন্ট</a>*@
                        <a class="badge badge-info p-1" asp-action="PrintApplication" asp-controller="Home" asp-route-id="@item.Id" target="_blank">প্রিন্ট</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>