@model IEnumerable<LMS_Web.Areas.CPF.Models.CpfPercent>
@{
    ViewData["Title"] = "Cpf Percent List";
    int row = 1;
}
<div class="text-center">
    <h1 class="display-5 mt-4 mb-4 p-2">@ViewData["Title"] </h1>
</div>
<div id="MessageDiv" style="text-align: center;">
    <label style="color:green"><span id="SuccessMessageDiv">@ViewBag.Success</span></label>
    <label style="color:red"><span id="ErrorMessageDiv" style="color: red">@ViewBag.Error</span></label>
</div>

<div class="table-responsive">
    <table class="table table-striped table-borderless custrom-table mb-2" id="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Percent</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@(row++)</td>
                    <td>@item.Percent</td>
                    <td>@item.Name</td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#Deduction").css("display", "block");
            $('#table').DataTable();
        });
    </script>
}